body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  
 
  height: 100vh;
  width: 100%;
}
.row{
  display:flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;


  
  
  
}
.text{
  font-size: 25px;
  padding-right: 15px;
}
.input{
  height: 20px;
  width: 60px;
  margin-right: 15px;
}
.button{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(0, 166, 255);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.paragraph{
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  
  
}
